<!-- create_playlist.html -->

{% extends 'base.html' %}

{% block title %}Create Playlist{% endblock %}

{% block content %}
<style>
    body {
        background-color: #f8f9fa; /* Dark background color for the body */
        color: #ffffff; /* Text color */
    }

    .container {
        max-width: 600px; /* Limit the width of the container */
        margin-top: 50px; /* Add some top margin */
    }

    h2 {
        color:black; /* Heading text color */
        font-size: 1.5rem; /* Adjust the font size of the heading */
        text-align: center;
    }

    form {
        margin-bottom: 20px; /* Add some bottom margin to the form */
        box-shadow: 0px 0xp 10px 0px rgba(0,0,0,0.4);
    }

    label {
        color: black; /* Label text color */
    }

    .form-control {
        margin-bottom: 15px; /* Add some bottom margin to form controls */
        background-color: #2c3e50; /* Dark background color for form controls */
        color: #ffffff; /* Text color for form controls */
        border: 1px solid #495057; /* Form control border color */
    }

    .form-check {
        display: flex; /* Use flex layout for the checkbox section */
        align-items: center; /* Center align items vertically */
        justify-content: space-between; /* Add space between items */
        color: #ffffff; /* Text color for the checkbox section */
        margin-bottom: 10px; /* Add bottom margin to checkboxes */
    }

    .btn-primary {
        background-color: #3498db; /* Primary button background color */
        border: none; /* Remove button border */
        color: #ffffff; /* Button text color */
    }

    .btn-primary:hover {
        background-color: #007bff; /* Hovered button background color */
    }
</style>

  <div class="container mt-4">
    <h2>Create Playlist</h2>

    <form method="post">
      {{ form.csrf_token }}
      <div class="form-group">
        <label for="{{ form.name.id }}">{{ form.name.label }}</label>
        {{ form.name(class="form-control") }}
      </div>

      <div class="form-group">
        <label for="{{ form.songs.id }}">{{ form.songs.label }}</label>
        {% for choice in form.songs.choices %}
          <div class="form-check">
            <input type="checkbox" id="{{ form.songs.id }}_{{ loop.index }}" name="{{ form.songs.name }}" value="{{ choice[0] }}" {% if form.songs.data and choice[0] in form.songs.data %}checked{% endif %}>
            <label for="{{ form.songs.id }}_{{ loop.index }}">{{ choice[1] }}</label>
          </div>
        {% endfor %}
      </div>

      <button type="submit" class="btn btn-primary">Create Playlist</button>
    </form>
  </div>
{% endblock %}





